<%= render 'shared/page_title', title: "Chef #{@chef.name} profile" %>
<div class="row justify-content-center">
  <div class="col-md-2 card">
    <section class="center chef_info">
      <%= image(150) %>
    </section>
  </div>
</div>
<div class="row card">
  Email: <%= @chef.email %>
</div>
<%= render 'recipes/list_recipes', recipes: @chef.recipes, show_chef_image: false %>