@import "bootstrap";

$base_color: rgb(170, 223, 165);

html,
body {
    height: 100%;
}

.test {
  margin:0;
  padding:0;
  height:100%;
}

.navbar {
  background-color: $base_color !important;
}

.footer {
  background-color: $base_color;
  clear: both;
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: -50px;
}

.container {
  position: relative;
  min-height: 100%;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("cover_image.jpg");
  background-size: cover;
  height: 300px;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: rgb(226, 138, 6);
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #0000ff;
  text-decoration: none;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  background-color: $base_color;
}

.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
}

.description {
  margin-top: 0px;
}

.well a {
  color: $base_color;
}

.colormatch a {
  color: $base_color;
}

.card {
  background-color: #f0ffe7;
  margin: 10px;
}

.chef_info {
  margin-top: 10px;
}

.message-offset {
  margin-top: 10px;
}

.bottom-margin {
  margin-bottom: 10px;
}

.listing {
  list-style: none;
  padding-left: 0px;
}

.chef-title {
  color: $base_color;
  font-weight: bold;
  font-size: 1.25em;
}